@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EmojiOneColor";
  src: url("./fonts/EmojiOneColor.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Beaufortfor";
  src: url("./fonts/Beaufortfor-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Beaufortfor";
  src: url("./fonts/Beaufortfor-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Beaufortfor";
  src: url("./fonts/Beaufortfor-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Beaufortfor";
  src: url("./fonts/Beaufortfor-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Beaufortfor";
  src: url("./fonts/Beaufortfor-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --background: #4b9b56;
  --button: #56f370;
  --star: #8c8554;
  --text-star: #606561;
  --card-bg: #e0ddd8;
  --bg-feature: #dddddd;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: "Beaufortfor", serif;
}

/* scroll bar */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-star);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
